name: Build and test
on:
  push:
    branches:
      - main
      - stable/*
      - release-*
  pull_request: { }
  merge_group: { }
  workflow_call: { }

concurrency:
  cancel-in-progress: true
  group: "${{ github.workflow }}-${{ github.ref }}"

defaults:
  run:
    # use bash shell by default to ensure pipefail behavior is the default
    # see https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#exit-codes-and-error-action-preference
    shell: bash

jobs:
  code-formatting:
    name: check code formatting
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java environment
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Check format
        run: mvn spotless:check

      - name: Check license
        run: mvn license:check

  build-and-test-embedded:
    name: Run tests on ${{ matrix.os }} and Spring-Boot ${{ matrix.spring-boot-version }}
    timeout-minutes: 15
    needs: code-formatting
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        # Note: `default` is an invalid profile just serving as a placeholder with no effect.
        spring-boot-version: [ default, 3.5]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java environment
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Build
        id: build
        run: |
          mvn -B -U -pl "-:zeebe-process-test-qa-testcontainers,-:spring-boot-starter-camunda-test-testcontainer" \
            -P !localBuild,spring-boot-${{ matrix.spring-boot-version }} \
            "-Dsurefire.rerunFailingTestsCount=5" \
            "-DfailOnFlakyTest=${{ ! contains(matrix.os, 'macos') }}" \
            clean install

      - name: Archive Test Results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: "Unit Test Results ${{ matrix.os }} with Spring-Boot ${{ matrix.spring-boot-version }}"
          path: "**/target/surefire-reports/"
          retention-days: 7

  build-and-test-testcontainers:
    name: Run tests on ubuntu-latest using testcontainers and spring-boot ${{ matrix.spring-boot-version }}
    timeout-minutes: 15
    needs: code-formatting
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        # Note: `default` is an invalid profile just serving as a placeholder with no effect.
        spring-boot-version: [ default, 3.5 ]
    env:
      IMAGE_NAME: "qa-tests"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java environment
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Package
        run: mvn -B -U -P !localBuild clean package -DskipTests

      - name: Build engine docker container
        run: |
          cd engine-agent
          docker build . -t ${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Update image tag in config
        run: |
          cd extension-testcontainer/src/main/resources
          sed -i '/container.image.name=/ s/=.*/=${{ env.IMAGE_NAME }}/' config.properties
          sed -i '/container.image.tag=/ s/=.*/=${{ github.sha }}/' config.properties
          cat config.properties
        env:
          IMAGE_NAME_KEY: container.image.name
          IMAGE_TAG_KEY: container.image.tag

      - name: Build
        id: build
        run: |
          mvn clean -B -U -pl ":zeebe-process-test-qa-testcontainers,:spring-boot-starter-camunda-test-testcontainer"  \
            -P !localBuild,spring-boot-${{ matrix.spring-boot-version }}  \
            -am "-Dsurefire.rerunFailingTestsCount=5" -DskipChecks \
            install

      - name: Archive Test Results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: "Unit Test Results Testcontainers with Spring-Boot ${{ matrix.spring-boot-version }}"
          path: "**/target/surefire-reports/"
          retention-days: 7

  test-summary:
    # Check all tests, including the unit test matrix.
    # New test jobs must be added to the `needs` lists!
    name: Test summary
    runs-on: ubuntu-latest
    needs:
      - code-formatting
      - build-and-test-embedded
      - build-and-test-testcontainers
    steps:
      - run: exit 0

  # We need to upload the event file as an artifact in order to support publishing the results of
# forked repositories (https://github.com/EnricoMi/publish-unit-test-result-action#support-fork-repositories-and-dependabot-branches)
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Event File
          path: ${{ github.event_path }}
          retention-days: 1
