name: Zeebe SNAPSHOT test
on:
  workflow_dispatch: { }
  workflow_call: { }
  schedule:
    - cron: "0 3 * * 1-5"
jobs:
  test-against-zeebe-snapshot:
    name: Run tests against Zeebe SNAPSHOT version
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Java environment
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Build with Zeebe SNAPSHOT version
        run: |
          CURRENT_ZEEBE_VERSION=$(mvn help:evaluate -Dexpression=dependency.zeebe.version -DforceStdout -q)
          if grep -q "alpha" <<< "$CURRENT_ZEEBE_VERSION"; then
            NEW_ZEEBE_VERSION=$(echo $CURRENT_ZEEBE_VERSION | sed "s/alpha.*/SNAPSHOT/")
          elif grep -q "SNAPSHOT" <<< "$CURRENT_ZEEBE_VERSION"; then
            NEW_ZEEBE_VERSION=$CURRENT_ZEEBE_VERSION
          else
            NEW_ZEEBE_VERSION=`echo $CURRENT_ZEEBE_VERSION | awk -F. '/[0-9]+\./{$2++;print}' OFS=.`-SNAPSHOT
          fi
          echo $NEW_ZEEBE_VERSION
          mvn -B -U -P !localBuild "-Dsurefire.rerunFailingTestsCount=5" -Ddependency.zeebe.version=$NEW_ZEEBE_VERSION clean install

      - name: Archive Test Results
        uses: actions/upload-artifact@v7
        if: always()
        with:
          name: Unit Test Results Against Zeebe Snapshot
          path: "**/target/surefire-reports/"
          retention-days: 7

  notify-if-failed:
    name: Send slack notification on build failure
    runs-on: ubuntu-latest
    needs: [test-against-zeebe-snapshot]
    if: failure()
    steps:
      - id: slack-notify
        name: Send slack notification
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          # For posting a rich message using Block Kit
          payload: |
            {
              "text": ":alarm: `zeebe-process-test` build against Zeebe SNAPSHOT version failed! :alarm:",
             	"blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":alarm: `zeebe-process-test` build against Zeebe SNAPSHOT version failed! :alarm:"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Please check the related workflow (${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}) and fix it before it blocks the upcoming release!\n  \\cc @camunda-ex-medic"
                  }
                }
              ]
            }
